*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}

.container >box {
    flex: 1 1 150px;
}
.box {
    margin: 0.5rem;
    position: relative;
    flex: 1;
    min-width: 307.3px;
    border: 1px solid black;
    background: #8C8C8C;
}
p {
    display: flex;
    padding: 10px 10px;
    font-weight: bolder; 
}

.c1 {
    position: relative;
    display: flex   ;
    justify-content: center;
    border: 1px solid black;
    padding: 3px;
    background-color: #D99CA1;
    margin-top: -1px;
    width: 130px;
    margin-left: auto;
    font-size: 12px;    
}
.b1{
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 3px;
    background-color: #BF4545;
    color: white;
    margin-top: -1px;
    width: 130px;
    margin-left: auto;
    font-size: 12px;
}
.s1{
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 3px;
    background-color: #D9C091;
    margin-top: -1px;
    width: 130px;
    margin-left: auto;
    font-size: 12px;
}

@media (max-width: 767px){
    .container{
        display: block;
        margin: 20px 50px;
        justify-content: center;
        padding: 0.5rem;
    }
    .box{
        margin-bottom: 20px;
    }
}